In [5]:
def 덧셈(a,b):
    return a + b
    return result

In [7]:
c=덧셈(3,4)
print(c)

7

In [ ]:
## 함수 안에서 선언한 변수의효력 범위

In [11]:
a=1
def test1(a):
    a = a+1
test1(a)
print(a)

1

In [2]:
def test2(b):
    b = b+1
test2(3)
print(b)

#에러 뜸 함수에서 사용된 변수는 밖에서 사용 x

NameError: name 'b' is not defined

In [3]:
c=1
def test3(c):
    c = c+1
    return c      #연산한 값이 c로 나옴
c=test3(c)
print(c)

2

In [14]:
d = 1
def test4():
    global d
    d = d+1
test4()
print(d)

2

In [16]:
path = "./testfile"
f = open(path + "새파일생성3.txt", "w", encoding ="utf-8")
f.write("한글도 잘되요!!")
f.close()

In [2]:

import requests as req
url ="https://finance.naver.com/sise/sise_market_sum.naver"
web = req.get(url)
html = web.text

f1 = html.find('삼성전자')
f2 = html.find('기아')
print()
print(html[f1:f1 + 100].find('<td class="number">'))
print(html[f1:f1 + 100][19:50].replace('td class="number">',"").replace('</td>',"").replace('\n',"")+"원")
print(html[f2:f2 + 100].find('<td class="number">'))
print(html[f1:f1 + 100][17:50].replace('td class="number">',"").replace('</td>',"").replace('\n',"")+"원")

19
<56,100원
17
		<56,100원