## 리스트 자료형

In [ ]:
odd = [1.3.5.7.9]

In [25]:
#리스트 인덱싱 연산
a = []
b = [1,2,3,]
c=['Life', 'is','too','short']
d=[1,2,'Life','is']
e=[1,2,['Life','is']]
print(e[2])
print(e[2][0])
print(e[2][1])

print(b[1]+b[2])
print(c[0]+c[3])

print(c[0]*b[2])
print(b[1]+b[2])
print(c[-2])

['Life', 'is']
Life
is
5
Lifeshort
LifeLifeLife
5
too

In [42]:
#리스트의 슬라이싱
a = [11,22,33,44,55]
print(a[:]) # 0생략 , 젤끝
print(a[2:])
print(a[2:])
print(a[:-3])
print(a[-2:])
print(a[::-1])

[11, 22, 33, 44, 55]
[33, 44, 55]
[33, 44, 55]
[11, 22]
[44, 55]
[55, 44, 33, 22, 11]

In [44]:

#
a=[1,2,3,4,5]
a[1:3]

[2, 3]

## 리스트의 인덱싱과 슬라이싱

### 리스트 연산하기

In [61]:
a = [11,22,33]
b = [44,55,66]
c= a*3
print(a+b) #더하기
print(a * 3) #리스트 반복
len(c)

[11, 22, 33, 44, 55, 66]
[11, 22, 33, 11, 22, 33, 11, 22, 33]

9

In [58]:
#리스트 값 수정
a=[11,22,33]
a[2] = 44
print(a)
#a[3] = 55 없는 요소를 수정하는 것응ㄴ 에러
#print(a)
#a[1]= 0 0으로 수정 삽입
#print(a)
del a[1]
print(a)

[11, 22, 44]
[11, 44]

In [62]:
print(c)
del c[:4]
print(c)

[11, 22, 33, 11, 22, 33, 11, 22, 33]
[22, 33, 11, 22, 33]

### 리스트관련함수

In [63]:
#리스트요소비우기
c.clear()
print(c)

[]

In [ ]:
a=[]

In [66]:
a.append(4)
print(a)
a.append([11,22])

print(a)

[4, 4]
[4, 4, [11, 22]]

In [ ]:
a

In [74]:
num =0
num+=1
b.append(num)
print(b)

[1]

In [73]:
#리스트 정렬 -sort
a=[11,44,33,22,55]
a.sort()
print(a)

[11, 22, 33, 44, 55]

In [77]:
#리스트 정렬 -sort 내림차
a=[11,44,33,22,55]
a.sort(reverse=True)
print(a)

[55, 44, 33, 22, 11]

In [80]:
#리스트정렬 원본유지
aa=[66,77,88,99,0]
bb= sorted(aa)

print(aa)
print(bb)

[66, 77, 88, 99, 0]
[0, 66, 77, 88, 99]

In [105]:
#sorted 응용
fruit = ['banana', 'kiwi','orange','melon','pear','apple','strawberry','blueberry']
result = sorted(fruit,key=len)
result2 = sorted(fruit,key=len,reverse=True)
print(result)
print(result2)

for r in result:
    if r=='banana':
        print(r+'못먹겟어')
    if r!='banana':
        print(r + '냠냠')
print('다먹었다')

['kiwi', 'pear', 'melon', 'apple', 'banana', 'orange', 'blueberry', 'strawberry']
['strawberry', 'blueberry', 'banana', 'orange', 'melon', 'apple', 'kiwi', 'pear']
kiwi냠냠
pear냠냠
melon냠냠
apple냠냠
banana못먹겟어
orange냠냠
blueberry냠냠
strawberry냠냠
다먹었다

In [94]:
#리스트 뒤집기 
a = [11,44,33,22,55]
a.reverse()
print(a)

[55, 22, 33, 44, 11]

In [73]:
fruit = ['banana', 'kiwi','orange','melon','pear','apple','strawberry','blueberry']
fruit.index('melon')

[11, 22, 33, 44, 55]

In [100]:
fruit = ['banana', 'kiwi','orange','melon','pear','apple','strawberry','blueberry']
want = input('먹고 싶은 과일을 입력하세요')
where = fruit.index(want)
print(f'{want} 를 좋아하시군요 그것은 {where+1} 번 째에 있습니다.')

먹고 싶은 과일을 입력하세요 melon

melon 를 좋아하시군요 그것은 4 번 째에 있습니다.

In [108]:
#리스트에 요소 삽입 - insert
num = [11,22,33,55,66,77,88,]
num.insert(3,44) #3 위치 44 원하는값
print(num)

[11, 22, 33, 44, 55, 66, 77, 88]

In [ ]:
ex = []

In [118]:
ex.insert(0,'맨앞')
print(ex)
ex.insert(-1,'-1인덱스')
print(ex)
ex.insert(0,'맨앞')
print(ex)
ex.insert(len(ex),'제일 끝') #len 길이 반영 가능 
print(ex)

['맨앞', '맨앞', 11, 11, 11, 11, 1, '-1인덱스', 3, 3]
['맨앞', '맨앞', 11, 11, 11, 11, 1, '-1인덱스', 3, '-1인덱스', 3]
['맨앞', '맨앞', '맨앞', 11, 11, 11, 11, 1, '-1인덱스', 3, '-1인덱스', 3]
['맨앞', '맨앞', '맨앞', 11, 11, 11, 11, 1, '-1인덱스', 3, '-1인덱스', 3, '제일 끝']

In [4]:
#리스트 요소 제거
a= [1,2,3,1,2,3]
a.remove(3)
print(a)

[1, 2, 1, 2, 3]

In [ ]:
#리스트 요소 끄집어 내기 -pop )
a= [1,2,3]

In [53]:
a= [1,2,3,4] 
hand = a.pop() #맨 마지막 요소를 리턴 
print(a)
print("받은거",hand)

[1, 2, 3]
받은거 4

In [1]:
#요소 세기
st = [1,2,3,4,5,4,4,56,4,5,3,45,3]
print(st.count(1))

1

In [60]:
#리스트 확장
a = [1,2,3]
a.extend([4,5])
print(a)

[1, 2, 3, 4, 5]

In [ ]:
#장바구니
bag = []

In [80]:
#create 생성
inp = input('필요한 항목을 넣어주세요.')
bag.append(inp)
print(f'장바구니에는 {bag}들이 있습니다.')

필요한 항목을 넣어주세요. 감자

장바구니에는 ['양파', '감자']들이 있습니다.

In [81]:
#fifo 출력(큐 출력_
hand = bag.pop(0)
print(f'{hand}를 꺼내서 장바구니에 {bag}이 남았습니다.')

양파를 꺼내서 장바구니에 ['감자']이 남았습니다.

In [91]:
#선택 출력
bag={'호박', '감자','소주','맥주','피자'}
print(f"바구니에 {bag}물품이 있습니다.")
bring  = input('꺼내고 싶은 물품을 입력 하세요.')
hand2  = bag.pop(bag.index(bring))
print(f"바구니에서 {hand2} 꺼내어 {bag}이 남았습니다.")

바구니에 {'맥주', '피자', '소주', '호박', '감자'}물품이 있습니다.

꺼내고 싶은 물품을 입력 하세요. 소주

AttributeError: 'set' object has no attribute 'index'

In [88]:
#테스트, remove는 리턴값 x 
choice = 33
a=[11,22,33,44,55,66]
a.remove(choice)
print(f'{choice}를 제거 하였습니다')

33를 제거 하였습니다

In [ ]:
#실습

bag=['호박', '감자','소주', '맥주','피자']
test1 = input('추가할 물건')
test2 = input('어느 물품 뒤에?')
위치 = (bag.index(test2))+1
bag.insert(위치,test1)
print(bag)

In [134]:
#테스트
num = int(input("누구게? 숫자 입력."))
print((int(num)+4 , type(num)))

누구게? 숫자 입력. 5

(9, <class 'int'>)

In [235]:
import requests
import json
url = 'https://www.koreaexim.go.kr/site/program/financial/exchangeJSON?authkey=qk0p0bggBwBY0NWKqAxuQ85q15uy6EJZ&searchdate=&data=AP01'
res = requests.get(url).text
#print(res)
data = json.loads(res)
print(type(data))
result = data[-1]['deal_bas_r'] # 젤 마지막줄에 있어서 -1넣음
print(result,type(result))
res2 = result.replace(",","").replace(".","")
print(res2,type(res2))
exc = int(res2)/10

#print(exc:0.4f)

<class 'list'>
1,460.8 <class 'str'>
14608 <class 'str'>

In [2]:
#환율계산기만들기
exc = 1450
dollor = int(input("원화로 계산할 달러를 입력하세요."))
res = dollor * exc
print(f"1달러는 {exc:,}원 이므로 \n {dollor}달러는 {res}원 입니다")

원화로 계산할 달러를 입력하세요. 4

1달러는 1,450원 이므로
 4달러는 5800원 입니다

## 튜플 자료형

t1 = ()
t2 = (1,)
t3 = (1,2,3)
t4 = 1,2,3
t5 =('a','b',('ab','cd'))

In [201]:
t1 = (1,2,'a','b')
del t1[0] 

#TypeError: 'tuple' object doesn't support item deletion 튜블은 요솟값 지울수 없음

t1 = (1,2,'a','b')
t1[0]='c'
#TypeError: 'tuple' object doesn't support item assignment

TypeError: 'tuple' object doesn't support item deletion

## 딕셔너리

In [205]:
dic = {'name':'pey','phone':'010-0000-0000','birth':'1118'} 
print(dic['name'])
print(dic['phone'])
print(dic['birth'])

pey
010-0000-0000
1118

In [276]:
al = [11,22,33,44,55]
at = 11,22,33,44,55
ad = {0:11,1:22,2:33,3:44,4:55}
print(al[0])
print(at[0])
print(ad[2])

11
11
33

In [210]:
#test
for l in al:
    print(l)
print('='*10)
for t in at:
        print(t)

11
22
33
44
55
==========
11
22
33
44
55

In [215]:
dic['array']=[1,2,3,4,5]
print(dic)

del dic['phone']
print(dic)

{'name': 'pey', 'phone': '010-0000-0000', 'array': [1, 2, 3, 4, 5]}
{'name': 'pey', 'array': [1, 2, 3, 4, 5]}

## 딕셔너리 관련 함수

In [244]:
a = {'name':'pey','phone':'010-0000-0000','birth':'1118','adress':'busan','array':[1,2,3,4,5]}
print(a.keys())
print(a.values()) 
print(a.items()) #쌍 얻기
print(a)
a.clear()
print(a)

dict_keys(['name', 'phone', 'birth', 'adress', 'array'])
dict_values(['pey', '010-0000-0000', '1118', 'busan', [1, 2, 3, 4, 5]])
dict_items([('name', 'pey'), ('phone', '010-0000-0000'), ('birth', '1118'), ('adress', 'busan'), ('array', [1, 2, 3, 4, 5])])
{'name': 'pey', 'phone': '010-0000-0000', 'birth': '1118', 'adress': 'busan', 'array': [1, 2, 3, 4, 5]}
{}

In [243]:
for k in a.keys():
    print(k)
for k in a.values():
    print(k)

name
phone
birth
adress
array
pey
010-0000-0000
1118
busan
[1, 2, 3, 4, 5]

In [252]:
a = {'name':'pey','phone':'010-0000-0000','birth':'1118','adress':'busan','array':[1,2,3,4,5]}
print(a.get('name'))
print(a.get('super')) #get 은 오류 안일어남
print(a['money'])

pey
None

KeyError: 'money'

In [253]:
a = {'name':'pey','phone':'010-0000-0000','birth':'1118','adress':'busan','array':[1,2,3,4,5]}
print('name' in a)

True

In [1]:
al = [11,22,33,44,55]
at = 11,22,33,44,55
ad = {0:11,1:22,2:33,3:44,4:55,5:'DD','birth':'1118'}

print(11 in al)
print(444 in al)
print('DD'in ad) #in key 만 찾음
print(5 in ad)
print('1118' in ad)

True
False
False
True
False

0.2071277247057952

In [6]:
#random=["구내식당","편의점","도시락","굶기"]
#menu = rando.random()
#print(menu)

['구내식당', '편의점', '도시락', '굶기']

## 집합자료형

In [8]:
s1 = set[(1,2,3)]
print(s1,type(s1))
s2 = set("hello")
print(s2,type(s2))

set[1, 2, 3] <class 'types.GenericAlias'>
{'o', 'l', 'e', 'h'} <class 'set'>

In [14]:
s1 = set([11,22,33])
li = list(s1)
print(li,type(li))
t1 = tuple(s1)
print(t1,type(t1))

[33, 11, 22] <class 'list'>
(33, 11, 22) <class 'tuple'>

In [26]:

s1= set([1,2,3,4,5,6])
s2 =set([4,5,6,6,7,8])
print(s1 & s2)
print(s1.intersection(s2))
print(s1|s2)
print(s1.union(s2))

# 차집합은 빼면됨

{4, 5, 6}
{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

## 집합 자료형 관련 함수

In [32]:
#값 1개 추가 =add
s1 = set([1,2,3])
s1.add(4)
print(s1)
s1.update([4,5,6])
print(s1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}

In [55]:
print(bool(None))
print(bool(0))

False
False

In [49]:
#random 으로 ㅅ스토리 성생기

characters = ["기사","고양이","로봇","마법사","탐정","선생님"]
places = ["어두운 숲에서","먼 우주 행성에서","마법의 성에서","바다속에서","흉가에서","교실에서"]
events = ["보물 발견","용과 싸움","비밀 통로 발견","미스터리 품","왕국을 위험에서 구함","꾸안꾸로 다녔다"]

ch = random.choice(characters)
pl = random.choice(places)
ev = random.choice(events)

print(f"어느 날,{ch} {pl} 모험을 떠나 {ev}")

어느 날,고양이 바다속에서 모험을 떠나 왕국을 위험에서 구함

# 자료값 저장하는 공간 변수

In [11]:
#리스트 옅은복사 깊은 복사

a = [1,2,3]
b = a
print(a,id(a))
print(b,id(b))

[1, 2, 3] 1776257622080
[1, 2, 3] 1776257622080

In [5]:
a is b

True

In [12]:
import copy
c = [11,22,33]
# d = copy(c)
# d = cp[:]
#d  =c.copy ()
d = copy.copy(c)

print(d,id(d))

[11, 22, 33] 1776257620544

In [13]:
a = 3
b = 7
print(a,b)
a,b = b,a
print(a,b)

3 7
7 3

In [14]:
a = 33
b= 77
print(a,b)
temp = a
a=b
b=temp
print(a,b)

33 77
77 33

In [26]:
#비트코인 시세로 상승장 하강장 구분하기
import requests as req #as 별칭으로 사용함
url ='https://api.bithumb.com/public/ticker/ALL_KRW'
gdata = req.get(url).json()
btc = gdata['data']['BTC']
maxp = float(btc['max_price'])
minp = float(btc['min_price'])
openp = float(btc['opening_price'])
bandp = float(maxp)-float(minp) 
btc



if( maxp< openp + bandp): 
        print("상승")
else:
        print("하강")

상승

In [31]:
#하루기준
import requests as req #as 별칭으로 사용함
url ='https://api.bithumb.com/v1/candles/minutes/1?market=KRW-BTC&count=1'
btc_data = req.get(url).json()
btc = gdata['data']['BTC']
maxp = float(btc['max_price'])
minp = float(btc['min_price'])
openp = float(btc['opening_price'])
bandp = float(maxp)-float(minp) 
btc
#print(btc_data[0]['trade_price'])

if( maxp< openp + bandp): 
        print("상승")
else:
        print("하강")

상승